{% extends "base.html" %}
{% block content %}

<about class='bg-dark d-flex'>
    <div class='con w-100 h-auto bg-dark container p-5 mt-5 rounded-4'> 

        <h1 class='text-white'>About us</h1>
    
        <div class='flex-row w-100 con bg-dark rounded-4'>
    
            <div class='w-50'>
                <p class='bg-black p-5 rounded-4 text-orange w-100' data-aos='fade-right'>
                    Welcome to our gaming collective, where a dynamic group of passionate and highly skilled gamers converge to enhance your in-game experience.    With a shared dedication to excellence, we are committed to empowering players like you through our expertise and services.
                </p>
            
                <p class='bg-black p-5 rounded-4 text-orange mt-5 w-100' data-aos='fade-left'>
                    Our team comprises individuals who are not only avid gamers but also possess a wealth of experience and knowledge across a diverse range of gaming titles. Whether it's conquering the battlefield in competitive shooters, mastering intricate strategies in real-time strategy games, or achieving greatness in the vast worlds of role-playing adventures, we have the proficiency to elevate your gaming journey.
                </p>
                        
                <p class='bg-black p-5 rounded-4 text-orange mt-5 w-100' data-aos='fade-right'>
                    At our core, we understand the value of efficient and reliable boosting services. That's why we meticulously craft our strategies and employ the latest techniques to ensure optimal results for our clients. From leveling up characters to unlocking coveted achievements, we take pride in delivering top-tier assistance tailored to your specific gaming goals.
                </p>
            
                <p class='bg-black p-5 rounded-4 text-orange mt-5 w-100' data-aos='fade-left'>
                    Join us on this exhilarating quest to elevate your gaming experience to new heights. With our collective expertise and unwavering dedication, we're here to support you every step of the way, transforming challenges into triumphs and victories into unforgettable memories.
            
                </p>
                
                <p class='bg-black p-5 rounded-4 text-orange mt-5 w-100' data-aos='fade-right'>
                    Embark on your gaming journey with confidence, knowing that you have a trusted ally in our collective of gamers. Let's embark on this adventure together and unlock the full potential of your gaming prowess.
                </p>
            </div>
        
            <div class='w-50 gap-5 bg-black rounded-4 p-5 d-flex flex-column align-items-center justify-content-center'>
                <h1 class='text-orange'>Game boost offers</h1>
                <image class='p-5 box-shadow rounded-5' data-aos='flip-left' src="https://purepng.com/public/uploads/large/league-of-legends-new-logo-wg7.png"  width='400px'>
                <image class='p-5 box-shadow rounded-5' data-aos='flip-left' src='https://upload.wikimedia.org/wikipedia/en/7/72/New_Mobile_Legends_Bang_Bang_2020_Logo.png'  width='400px'>
                <image class='p-5 box-shadow rounded-5' data-aos='flip-left' src='https://upload.wikimedia.org/wikipedia/commons/4/42/League_of_Legends_Wild_Rift_logo.png'  width='400px'>
                <image class='p-5 box-shadow rounded-5' data-aos='flip-left' src='https://static.vecteezy.com/system/resources/previews/022/636/384/large_2x/valorant-logo-valorant-icon-transparent-free-png.png'  width='400px' >
                <a href='/services'class='btn button btn-danger rounded-3'>Check Our Services</a>
    
            </div>
    
        </div>
    </div>
</about>

{% endblock %}
